 <h2 class="page-header text-center">Dashboard</h2>
<p class="text-center">Welcome to your dashboard, <b>{{user.name}}</b>.</p>

<p class="text-center">Wallet Balance: <b>{{user.daiAddr}}</b>.</p>  


<div class="container">

<form method="post" action="/test">
<div class="form-group mb-4">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit">Receive</button>
  </div>

  Account Balance is : {{balance}}
  
</div>
</form>

<form method="post" action="/send">
<h2>
  Send Money
</h2>
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="username you want to send money to"> <br>
    <input type="text" class="form-control" name="amount" placeholder="amount">
  </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
      <p class="mt-5 mb-3 text-muted text-center">© 2018</p>
</form>

  </table>